<style>

	<meta charset="utf-8">

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Roboto Mono', sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: sans-serif;
		font-size: 12px
	}

	h1{
		font-size: 3rem
	}

	h2{
		font-size: 2rem;
	}

	#googlemaps { 
		height: 100%; 
		width: 100%; 
		position:absolute; 
		top: 0; 
		left: 0; 
		z-index: -100;
	}

	/*red #EF2000 */
	/*green #00C11D */
	/*blue #110FFF */
	/*pink FF99FF */
	

	.title{
  		margin:0 auto;
  		margin-top:12%;
  		margin-bottom: 10%;
  		width:75%;
  		max-width:600px;
  		height:auto;
  		padding:1%;
	}

	.title img{
		margin:0 auto;
		width:100%;
	}

	.date{
	   background-color: #EF2000;
	   top:35%;

	}

	.time{
	   background-color: #110FFF;
	   top:45%;
	}

	.pop{
		background-color: #00C11D;
		top:55%;
	}

	.location{
		background-color: #FF99FF;
		top:65%;
	}

	.box{
		margin:1% auto;
		padding:1%;
		width:80%;
		height:30px;
		font-size: 1.5rem;
		text-align: center;
	}

	.box img{
		margin:0 auto;
		width: auto;
		height:30px;
	}

	.contact{
		margin:0 auto;
		width:30%;
		height:20px;
		text-align: center;
		background-color: pink;
	}

@media screen and (min-width: 650px){
	html {
		font-size: 16px;
	}

	.title{
  		margin:0 auto;
  		margin-top:5%;
  		margin-bottom: 10%;
  		width:60%;
  		height:auto;
  		padding:1%;
	}



	.date{
		top:35%;
		left:1%;
	}

	.time{
		top:50%;
		left:1%;
	}

	.pop{
		top:35%;
		right:1%;
	}

	.location{
		top:50%;
		right:1%;
	}

	.box{
		width:35%;
		position:fixed;
	}

}

@media screen and (min-width: 1024px){
	.title{
  		margin-top:2%;
	}
	.date{
		top:40%;
	}

	.time{
		top:60%;
	}

	.pop{
		top:40%;
	}

	.location{
		top:60%;
		width:22%;

	}

	.box{
		width:22%;
	}
}




</style>