<style>

	<meta charset="UTF-8">

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Droid Sans', sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	* { Box-sizing: Border-box }

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: sans-serif;
		font-size: 12px
	}

	h1{
		font-size: 3rem
	}

	h2{
		font-size: 2rem;
	}

	#googlemaps { 
		height: 100%; 
		width: 100%; 
		position:absolute; 
		top: 0; 
		left: 0; 
		z-index: -100;
	}

	/*red #EF2000 */
	/*green #00C11D */
	/*blue #110FFF */
	/*pink FF99FF */
	

	.title{
  		margin:0 auto;
  		margin-top:10%;
  		margin-bottom: 5%;
  		width:90%;
  		max-width:700px;
  		height:auto;
  		padding:1%;
  		overflow: hidden;
	}

	.paragraph{
		margin:0 auto;
		width:90%;
		padding:10px;
		background-color:rgba(255,255,255,0.7);
		height:auto;
		overflow: hidden;
		-webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
		-moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
		box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
	}

	.writing{
		margin:0 auto;
		color:rgba(0,0,0,1);
		font-size: 1.3rem;
		line-height: 1.5rem;
		font-family: 'Droid Sans', 'sans-serif';
		text-transform: uppercase;
		font-weight: 600;
		padding:0 auto;
	}


	.title img{
		margin:0 auto;
		padding:1%;
		width:100%;
	}

	.date{
	   background-color: #EF2000;
	   margin-top:55%;

	}

	.time{
	   background-color: #110FFF;
	   margin-top:65%;
	}

	.pop{
		background-color: #00C11D;
		margin-top:75%;
	}

	.location{
		background-color: #FF99FF;
		margin-top:85%;
	}

	.box{
		margin:2% auto;
		padding: .5%auto;
		width:90%;
		height:60px;
		text-align: center;
		overflow: hidden;
		opacity: .8;
		-webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
		-moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
		box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
	}

	.box img{
		margin:0 auto;
		width: auto;
		height:60px;
	}

	.contact{
	}

	.contact img{
		
	}

	a:hover{
		color:white;
	}

	a:visited{
		color:black;
	}

	a{
		color:black;
		text-decoration: underline;
	}

@media screen and (min-width: 650px){
	html {
		font-size: 16px;
	}

	.title{
  		margin:0 auto;
  		margin-top:5%;
  		margin-bottom: 10%;
  		width:60%;
  		height:auto;
  		padding:1%;
	}

	.paragraph{
		position:fixed;
		width:65%;
		top:66%;
		bottom: 10%;
		left:17.5%;
		right:auto;
		margin:0 auto;
		padding:10px;
		background-color:rgba(255,255,255,0.7);
		overflow: auto;
		height:32%;
	}

	.writing{
		color:rgba(0,0,0,1);
		font-size: .9rem;
		line-height: 1.5rem;
		font-family: 'Droid Sans', 'sans-serif';
		text-transform: uppercase;
		font-weight: 400;
		padding:0 auto;
		margin-bottom: 2%
	}


	.date{
		top:30%;
		left:1%;
	}

	.time{
		top:40%;
		left:1%;
	}

	.pop{
		top:30%;
		right:1%;
	}

	.location{
		top:40%;
		right:1%;
	}

	.box{
		width:32%;
		position:fixed;
		padding: .25% auto;
		height:auto;
		text-align: center;
	}

	.box img{
		margin: 0 auto;
	}

	.contact{

	}

	.contact img{
	}

}

@media screen and (min-width: 1024px){
	.title{
  		margin-top:2%;
	}
	.date{
		top:35%;
	}

	.time{
		top:49%;
	}

	.pop{
		top:35%;
	}

	.location{
		top:49%;

	}

	.box{
		width:26%;
	}

	.box img{
		height:70px;
	}
	.contact{
	}


@media screen and (min-width: 1224px){
	

	.box img{
		height:70px;
			}
}
}




</style>